version: "3"
services:
  dockerhost:
        image: qoomon/docker-host
        cap_add: [ 'NET_ADMIN', 'NET_RAW' ]
        #mem_limit: 4M
        restart: on-failure
  database:
    build: nasdb
    ports:
      - "6543:5432"
  nasar:
    build: nasapp
    links:
      - database
      - ftp
    depends_on:
      - database
      - mq
      - ftp
    environment:
      - APP_LABEL=ArcRepository
      - APP_CLASS=dk.netarkivet.archive.arcrepository.ArcRepositoryApplication
      - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
      - REPLICA=SB
      - LOCATION=S
    command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nasgui:
    build: nasapp
    ports:
      - "8078:8078"
    links:
      - database
    depends_on:
      - database
      - mq
    environment:
      - APP_LABEL=GUIApplication
      - APP_CLASS=dk.netarkivet.common.webinterface.GUIApplication
      - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvest-scheduler.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
    command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nassbbitapp:
    build: nasapp
    links:
      - mq
      - ftp
    environment:
      - APP_LABEL=BitarchiveApplication
      - APP_CLASS=dk.netarkivet.archive.bitarchive.BitarchiveApplication
      - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
      - REPLICA=SB
      - LOCATION=S
    # volumes:
    # - /home/csr/projects/docker-csr/bitmag/bitrepository-quickstart/var/file1pillar/nasdocker:/nas/bitarchive
    command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  naskbbitapp:
      build: nasapp
      links:
        - mq
        - ftp
      environment:
        - APP_LABEL=BitarchiveApplication
        - APP_CLASS=dk.netarkivet.archive.bitarchive.BitarchiveApplication
        - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
        - REPLICA=KB
        - LOCATION=K
      # volumes:
       # - /home/csr/projects/docker-csr/bitmag/bitrepository-quickstart/var/file2pillar/nasdocker:/nas/bitarchive
      command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  naskbbamon:
    build: nasapp
    links:
     - mq
     - ftp
    environment:
      - APP_LABEL=BitarchiveMonitorApplication_KB
      - APP_CLASS=dk.netarkivet.archive.bitarchive.BitarchiveMonitorApplication
      - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
      - REPLICA=KB
      - LOCATION=K
    command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nassbbamon:
    build: nasapp
    links:
     - mq
     - ftp
    environment:
      - APP_LABEL=BitarchiveMonitorApplication_SB
      - APP_CLASS=dk.netarkivet.archive.bitarchive.BitarchiveMonitorApplication
      - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar
      - REPLICA=SB
      - LOCATION=S
    command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nashjm:
      build: nasapp
      links:
       - mq
       - database
      environment:
        - APP_LABEL=HarvestJobManagerApplication
        - APP_CLASS=dk.netarkivet.harvester.scheduler.HarvestJobManagerApplication
        - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvest-scheduler.jar
        - REPLICA=KB
        - LOCATION=K
      command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nasharfocus:
      build: nasapp
      links:
         - mq
         - ftp
      environment:
          - APP_LABEL=HarvestController_Focused
          - APP_CLASS=dk.netarkivet.harvester.heritrix3.HarvestControllerApplication
          - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-heritrix3-controller.jar
          - REPLICA=KB
          - LOCATION=K
          - H3_CHANNEL=FOCUSED
          - HERITRIX_JAVA_OPTS=-Xdebug\ -Xrunjdwp:server=y,transport=dt_socket,address=8500,suspend=n
      volumes:
          - ./nasapp/h3bundler.zip:h3bundler.zip
      ports:
        - 8443
        - 8500:8500
      hostname: nasharfocus
      command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nasharsnap:
      build: nasapp
      links:
         - mq
         - ftp
      environment:
          - APP_LABEL=HarvestController_Snapshot
          - APP_CLASS=dk.netarkivet.harvester.heritrix3.HarvestControllerApplication
          - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-heritrix3-controller.jar
          - REPLICA=KB
          - LOCATION=K
          - H3_CHANNEL=SNAPSHOT
          - HERITRIX_JAVA_OPTS=-Xdebug\ -Xrunjdwp:server=y,transport=dt_socket,address=8501,suspend=n
      hostname: nasharsnap
      ports:
        - 8443
        - 8501:8501
      command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nasidx:
        build: nasapp
        links:
           - mq
           - ftp
        environment:
            - APP_LABEL=IndexServer
            - APP_CLASS=dk.netarkivet.harvester.indexserver.IndexServerApplication
            - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvest-scheduler.jar:/nas/lib/netarchivesuite-archive-core.jar
            - REPLICA=KB
            - LOCATION=K
        command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nascs:
        build: nasapp
        links:
           - mq
           - ftp
        environment:
            - APP_LABEL=ChecksumFileApplication
            - APP_CLASS=dk.netarkivet.archive.checksum.ChecksumFileApplication
            - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-archive-core.jar
            - REPLICA=CS
            - LOCATION=K
        command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  nasvp:
        build: nasapp
        links:
           - mq
           - ftp
        environment:
            - APP_LABEL=ViewerProxyApplication
            - APP_CLASS=dk.netarkivet.viewerproxy.ViewerProxyApplication
            - CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvest-scheduler.jar:/nas/lib/netarchivesuite-archive-core.jar
            - REPLICA=KB
            - LOCATION=K
        ports:
          - 8878:8078
        command: ["/nas/wait-for-postgres.sh", "database", "--", "/docker-entrypoint.sh"]
  mq:
    image: seges/openmq
    ports:
      - 7676
  ftp:
    image: andrewvos/docker-proftpd
    ports:
      - 20
      - "21:21"
      - "21100-21110:21100-21110"
    environment:
      - USERNAME=jms
      - PASSWORD=jms*ftp