<settings>
    <common>
      <environmentName>TEST1</environmentName>
      <applicationInstanceId/>
      <remoteFile>
        <class>
          dk.netarkivet.common.distribute.FTPRemoteFile
        </class>
        <serverPort>21</serverPort>
        <retries>3</retries>
        <datatimeout>10800</datatimeout>
      <serverName>kb-test-har-003.kb.dk</serverName><userName>devel</userName><userPassword>devel123</userPassword></remoteFile>
      <jms>
        <class>
          dk.netarkivet.common.distribute.JMSConnectionSunMQ
        </class>
        <broker>mq</broker>
        <port>7676</port>
      </jms>
      <jmx>
        <passwordFile>/nas/jmxremote.password</passwordFile>
        <timeout>300</timeout>
      <port>8170</port><rmiPort>8270</rmiPort></jmx>
      <indexClient>
        <indexRequestTimeout>43200000</indexRequestTimeout>
      </indexClient>
      <replicas>
        <!-- The names of all bit archive replicas in the
         environment, e.g., "nameOfBitachiveOne" and "nameOfBitachiveTwo". -->
        <replica>
          <replicaId>SB</replicaId>
          <replicaName>SBN</replicaName>
          <replicaType>bitArchive</replicaType>
        </replica>
        <replica>
          <replicaId>KB</replicaId>
          <replicaName>KBN</replicaName>
          <replicaType>bitArchive</replicaType>
        </replica>
        <replica>
          <replicaId>CS</replicaId>
          <replicaName>CSN</replicaName>
          <replicaType>checksum</replicaType>
        </replica>
      </replicas>
      <!-- tempDir corrected from ./tests/commontempdir -->
      <tempDir>tmpdircommon</tempDir>
    <mail>
          <server>post.kb.dk</server>
        </mail><notifications>
          <class>dk.netarkivet.common.utils.EMailNotifications</class>
          <!-- T: receiver to be modified by test -->
          <receiver>csr@kb.dk</receiver>
          <sender>devel@kb-prod-udv-001.kb.dk</sender>
        </notifications><useReplicaId>KB</useReplicaId><thisPhysicalLocation>K</thisPhysicalLocation><database>
            <class>dk.netarkivet.harvester.datamodel.PostgreSQLSpecifics</class>
            <baseUrl>jdbc:postgresql</baseUrl>
            <machine>database</machine>
            <port>5432</port>
            <dir>harvestdb</dir>
            <username>netarchivesuite</username>
            <password>netarchivesuitepass</password>
          </database><http>
              <port>8078</port>
            </http><applicationName>dk.netarkivet.common.webinterface.GUIApplication</applicationName></common>

    <monitor>
      <jmxUsername>monitorRole</jmxUsername>
      <jmxPassword>test</jmxPassword>
      <jmxProxyTimeout>500</jmxProxyTimeout>
      <logging>
        <historySize>100</historySize>
      </logging>
      <reregisterDelay>10</reregisterDelay>
    </monitor>

    <!-- directory for install -->
    <archive>
      <bitpreservation>
        <baseDir>bitpreservation</baseDir>
        <class>dk.netarkivet.archive.arcrepository.bitpreservation.DatabaseBasedActiveBitPreservation</class>
      </bitpreservation>
      <arcrepository>
        <baseDir>.</baseDir>
      </arcrepository>
    <admin>
            <class>dk.netarkivet.archive.arcrepositoryadmin.DatabaseAdmin</class>
            <database>
              <class>dk.netarkivet.archive.arcrepositoryadmin.PostgreSQLSpecifics</class>
              <baseUrl>jdbc:postgresql</baseUrl>
              <machine>database</machine>
              <port>5432</port>
              <dir>admindb</dir>
              <username>netarchivesuite</username>
              <password>netarchivesuitepass</password>
              <pool>
                <idleConnTestQuery>SELECT COUNT(*) FROM replica</idleConnTestQuery>
                <idleConnTestOnCheckin>false</idleConnTestOnCheckin>
              </pool>
            </database>
          </admin></archive>
    <!-- viewerproxy.baseDir is set below -->
    <!-- harvester.harvesting.serverDir is set below -->
    <harvester>
      <aliases>
        <timeout>31536000</timeout>
      </aliases>
      <harvesting>
        <deduplication>
          <enabled>false</enabled>
        </deduplication>
        <heritrix>
          <inactivityTimeout>1800</inactivityTimeout>
          <noresponseTimeout>1800</noresponseTimeout>
          <crawlLoopWaitTime>60</crawlLoopWaitTime>
        </heritrix>
        <frontier>
          <!-- 1 minute -->
          <frontierReportWaitTime>60</frontierReportWaitTime>
          <filter>
            <class>dk.netarkivet.harvester.harvesting.frontier.TopTotalEnqueuesFilter</class>
            <args>200</args>
          </filter>
        </frontier>
        <metadata>
          <compression>
            true
          </compression>
        </metadata>
      </harvesting>
      <scheduler>
        <jobGen>
          <class>dk.netarkivet.harvester.scheduler.jobgen.DefaultJobGenerator</class>
          <domainConfigSubsetSize>10000</domainConfigSubsetSize>
          <config>
            <!-- Used by FixedDomainConfigurationCountJobGenerator and as an absolute limit in DefaultJobGenerator -->
            <fixedDomainCountSnapshot>7500</fixedDomainCountSnapshot>
          </config>
        </jobGen>
      </scheduler>
    <datamodel><domain>
		<defaultSchedule>Once_a_week</defaultSchedule>
		</domain></datamodel></harvester>
  </settings>
