#!/usr/bin/env bash
echo Starting linux application: {{APP_LABEL}}
## export CLASSPATH=/nas/lib/netarchivesuite-monitor-core.jar:/nas/lib/netarchivesuite-harvester-core.jar:/nas/lib/netarchivesuite-archive-core.jar:$CLASSPATH;
export CLASSPATH={{CLASSPATH}}:$CLASSPATH;
##java -Xmx1024m  -Ddk.netarkivet.settings.file=/nas/settings.xml -Dlogback.configurationFile=/nas/logback.xml dk.netarkivet.archive.arcrepository.ArcRepositoryApplication
java --add-exports java.base/sun.security.ssl=ALL-UNNAMED --add-exports jdk.naming.rmi/com.sun.jndi.rmi.registry=ALL-UNNAMED --add-exports jdk.jconsole/sun.tools.jconsole=ALL-UNNAMED --add-opens java.management/javax.management.openmbean=ALL-UNNAMED  -Xmx1024m -Dsettings.harvester.harvesting.heritrix.javaOpts={{HERITRIX_JAVA_OPTS|default('', false)}} -Ddk.netarkivet.settings.file=/nas/settings.xml -Dlogback.configurationFile=/nas/logback.xml {{APP_CLASS}}

